<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.ineed.ineed" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <permission android:name="co.ineed.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="co.ineed.gcm.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        <activity
            android:name=".Onramp1Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".Onramp2Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".CreateAccountActivity"
            android:theme="@style/Theme.AppCompat.Light">
        </activity>
        <activity
            android:name=".CreateAccountNameActivity"
            android:theme="@style/Theme.AppCompat.Light">
        </activity>
        <activity
            android:name=".SignInActivity"
            android:theme="@style/Theme.AppCompat.Light">
        </activity>
        <activity
            android:name=".LinkPaymentActivity"
            android:theme="@style/Theme.AppCompat.Light">
        </activity>
        <activity
            android:name=".RequestsActivity"
            android:theme="@style/CustomActionBarTheme">
        </activity>
        <activity
            android:name=".RequestActivity"
            android:theme="@style/Theme.AppCompat.Light">
        </activity>
        <activity
            android:name=".MakeRequestActivity"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/Theme.AppCompat.Light">
        </activity>
        <activity
            android:name=".FrontActivity"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:theme="@style/Theme.AppCompat.Light">
        </activity>
        <activity
            android:name=".SelectLocationActivity"
            android:theme="@style/Theme.AppCompat.Light">
        </activity>
        <activity
            android:name=".NotificationRequest"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".RegisterNotifications"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".WebActivity"
            android:theme="@style/Theme.AppCompat.Light">
        </activity>
        <activity
            android:name=".RecordAudio"
            android:theme="@style/Theme.AppCompat.Light">
        </activity>
        <!-- Activities responsible for gathering payment info -->
        <activity android:name="io.card.payment.CardIOActivity" android:configChanges="keyboardHidden|orientation" />
        <activity android:name="io.card.payment.DataEntryActivity" />

        <activity android:name="net.hockeyapp.android.UpdateActivity" />
        <activity android:name="net.hockeyapp.android.FeedbackActivity" />
        <activity android:name="net.hockeyapp.android.PaintActivity" />

        <activity
            android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".GcmBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="co.lingos.gcm" />
            </intent-filter>
        </receiver>
        <service android:name=".GcmIntentService" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBsDmZKYh9g8mL22KXrfKlq_uiObUeY4-Y"/>

    </application>

</manifest>
